.DS_Store
mcp-server.log
.claude/
images/*.HEIC
"Netflix New Logo Animation 2019 - Netflix (1080p, h264).mp4"
"Netflix New Logo Animation 2019 - Netflix.mp3"
"The Weeknd, Ariana Grande - Die For You (Remix _ Lyric Video) - TheWeekndVEVO.mp3"
images/WhatsApp Image*.jpeg
images/profiles/
images/gallery/
